<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Add Customer</title>
</head>
<body>
	<section>
		<div class="pagetitle">
			<h1>Dashboard</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/admin/dashboard"><i
							class="bi bi-house-door"></i></a></li>
					<li class="breadcrumb-item active">Customer - Add</li>
				</ol>
			</nav>
		</div>

		<div class="container">
			<div class="successMsg">
				<span th:text="${successMessage}"></span>
			</div>
			<div class="failureMsg">
				<span th:text="${failureMessage}"></span>
			</div>
			<div class="row">
				<form action="/admin/uploadCustomers" enctype="multipart/form-data" method="post">
					<div class="col-lg-12">
						<div class=card>
							<div class="card-body">
								<div class="row mb-3 mt-3">
									<div class="col-sm-10">
										<input class="form-control" type="file" id="file" name="file">
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-primary">Import</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="separator">OR</div>
			<div class="row">
				<form class="row" action="/admin/saveCustomers" method="post">
					<div class="col-lg-6">
						<div class=card>
							<div class="card-header">
								<h5 class="card-title">Customer Info</h5>
							</div>
							<div class="card-body">
								<div class="row mb-3 mt-3">
									<label for="username" class="col-sm-3 col-form-label">Username</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="username" id="username" required>
									</div>
									<div class="col-sm-2">
										<button type="button" class="btn btn-primary" id="checkUsername">Check</button>
									</div>
								</div>
								<div class="row mb-3">
									<label for="name" class="col-sm-3 col-form-label">Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="name">
									</div>
								</div>
								<div class="row mb-3">
									<label for="password" class="col-sm-3 col-form-label">Password</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" name="password">
									</div>
								</div>
								<input type="hidden" th:value="ROLE_CUSTOMER" name="userType">
								
								<div class="row mb-3">
									<label for="email" class="col-sm-3 col-form-label">Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="email">
									</div>
								</div>
								<div class="row mb-3">
									<label for="phone" class="col-sm-3 col-form-label">Phone</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="phone">
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-3 col-form-label">State</label>
									<div class="col-sm-9">
										<select name="state" id="state" class="form-select">
											<option value=" ">Select State</option>
											<option th:each="state : ${listState}" th:value="${state.id}" th:text="${state.name}"></option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-3 col-form-label">City</label>
									<div class="col-sm-9">
										<select class="form-select" name="city" id="city">
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label for="address" class="col-sm-3 col-form-label">Address</label>
									<div class="col-sm-9">
										<textarea class="form-control" style="height: 100px"
											name="address"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class=card>
							<div class="card-header">
								<h5 class="card-title">Meter Info</h5>
							</div>
							<div class="card-body">
								<div class="row mb-3 mt-3">
									<label for="meter" class="col-sm-2 col-form-label">Meter
										No.</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="meterNo" id="meterNo">
									</div>
									<div class="col-sm-2">
										<button type="button" class="btn btn-primary" id="generateMeterNo">Generate</button>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label">Meter Location</label>
									<div class="col-sm-10">
										<select class="form-select" name="meterLocation">
											<option th:each="meterLocation : ${listMeterLocation}" th:value="${meterLocation.id}" th:text="${meterLocation.name}" ></option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label">Meter Type</label>
									<div class="col-sm-10">
										<select class="form-select" name="meterType">
											<option th:each="meterType : ${listMeterType}" th:value="${meterType.id}" th:text="${meterType.name}"></option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label">Phase Code</label>
									<div class="col-sm-10">
										<select class="form-select" name="phaseCode">
											<option th:each="phaseCode : ${listPhaseCode}" th:value="${phaseCode.id}" th:text="${phaseCode.name}"></option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label">Bill Type</label>
									<div class="col-sm-10">
										<select class="form-select" name="billType">
											<option th:each="billType : ${listBillType}" th:value="${billType.id}" th:text="${billType.name}"></option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label for="days" class="col-sm-2 col-form-label">Days</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="days" value="30"
											readonly>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="reset" class="btn btn-secondary" id="reset">Reset</button>
					</div>
				</form>
			</div>
		</div>

	</section>
</body>
</html>