<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Customer</title>
</head>
<body>
	<section>
		<div class="pagetitle">
			<h1>Dashboard</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/admin/dashboard"><i
							class="bi bi-house-door"></i></a></li>
					<li class="breadcrumb-item active">Customer</li>
				</ol>
			</nav>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<h5 class="card-title">Customers</h5>
								</div>
								<div class="col-auto">
									<a href="/admin/addCustomer"
										class="btn btn-outline-primary">Add Customer</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<!-- Table with stripped rows -->
								<table class="table datatable responsiveTable">
									<thead>
										<tr>
											<th style="display:none;"></th>
											<th scope="col">Name</th>
											<th scope="col">UserName</th>
											<th scope="col">Meter No.</th>
											<th scope="col">Status</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										
										<tr th:each="c : ${customerList}">
											<td style="display:none;"><input type="hidden" th:value="${c.user.id}" name="id" id="userId"></td>
											<td>[[${c.name}]]</td>
											<td>[[${c.user.username}]]</td>
											<td>[[${c.meter.meterNo}]]</td> 
											<td>
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox"
														role="switch" onchange="changeAccountNonLocked(this)" th:id="${c.user.id}" name="accountNonLocked" th:checked="${c.user.accountNonLocked}">
												</div>
											</td>
											<td>
												<a class="ms-2" th:href="@{/admin/viewCustomer/{id}(id=${c.id})}"><i class="fa-solid fa-eye"></i></a>
												<a class="ms-2" th:href="@{/admin/editCustomer/{id}(id=${c.id})}" ><i class="fa-solid fa-pen-to-square"></i></a>
												<a class="ms-2" th:href="@{/admin/deleteCustomer/{id}(id=${c.user.id})}"><i class="fa-solid fa-trash"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- End Table with stripped rows -->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>