<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Change Password</title>
</head>
<body>
<section>
<!-- <div class="card">
  <div class="card-body">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item active">Change Password</li>
      </ol>
    </nav>
  </div>
</div> -->
	<div class="pagetitle">
		<h1>Change Password</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="dashboard"><i class="bi bi-house-door"></i></a></li>
				<li class="breadcrumb-item active">Change Password</li>
			</ol>
		</nav>
	</div>
	<div class="container p-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-header text-center fs-4">Change Password</div>
					<!-- <div th:if="${successMessage}" th:classappend="${successMessage}" class="alert alert-success" role="alert">
							<p class="text-center" th:text="${successMessage}"></p>
						</div>
						<div th:if="${failureMessage}" th:classappend="${failureMessage}" class="alert alert-danger" role="alert">
							<p class="text-center" th:text="${failureMessage}"></p>
						</div> -->
						<div class="successMsg">
						<span th:text="${successMessage}"></span>
						</div>
						<div class="failureMsg">
						<span th:text="${failureMessage}"></span>
						</div>
					<div class="card-body mt-3">
						<form action="updatePassword" method="post">
							<div class="mb-3">
								<label>Enter Old Password</label>
								<input type="text" name="oldPassword" class="form-control">
							</div>
							<div class="mb-3">
								<label>Enter New Password</label>
								<input type="text" name="newPassword" class="form-control">
							</div>
							<button class="btn btn-primary col-md-12">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
</body>
</html>